
<style>
@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Source+Code+Pro:wght@300&display=swap');

 @import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
  </style>


* {
    margin: 0;
    padding: 0;
}

body {
    background: #f7f4ed;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   
 
}

.box {
    border: solid 2px  #635e59;
    padding: 20px 80px 200px 80px;
    text-align: center;
    width: 40%;
    margin: 200px auto;
    border-radius: 20px;
    background-color:#edc;
box-shadow: rgba(0, 0, 0, 0.349) 30px 30px 30px ;
}

h1 {
    font-size: 2.5rem;
    text-shadow: rgba(250, 96, 25, 0.623) 3px 3px 3px 10px  ;
    color: #635e59;
    font-family: 'Merriweather', serif;
   border: solid black 2px;
border-radius: 10px;
   padding: 15px;
}

input{
    margin-top: 50px;
    padding: 15px;
    border-radius: 60px;
    background: #8d7c5fc7;
    font-size: 1.4rem;
    color: #edc878;
    box-shadow: 2px 3px 1px 2px rgba(143, 137, 137, 0.63);
    border: none;
    font-family: 'Caveat', cursive;


}
input::placeholder {
    color: #edc878;
}

li {
    list-style: none;
    margin-top: 20px;
    text-align: left;
    font-size: 1.5rem;
    font-family: 'Caveat', cursive;
    user-select: none;

}
li:hover {
    cursor: pointer;
  
}
li:hover::after {
    cursor: pointer;
    color: rgb(223, 68, 11);
    content: "(Valider)";
    font-size: 0.8rem;
    font-weight: 700;
}

li::before {
    font-family: "Font Awesome 5 Free";
    content: "*";
    font-weight: 900;
    font-size: 2rem;
    align-items: center;
}
li.checked:before {
    content: "✔";
    padding: 10px 10px;
    font-size: 1.1rem;
    color: #fd4a1d;
  }
  li.checked:hover::after {
    cursor: pointer;
    color: rgb(223, 68, 11);
    content: "(supprimer)";
    font-size: 0.8rem;
    font-weight: 700;
}

::placeholder {
    color: white;
   
  } 